# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Python Build
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/

# Model Cache
torch_cache/

# Temporary Files
*.tmp
*.bak

# Uploaded Images
backend/static/uploads/
backend/static/heatmaps/

# Hugging Face
hf_cache/

# Node Modules (if added later)
node_modules/